<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valladolid | Portfolio</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!--Navigation bar-->
    <nav class="nav-bar">

        <div class="nav-container">
            <a href="../index.html">HOME</a>
            <a href="../valladolid/home.html">ANDOJAR</a>
            <a href="../andojar/index.html">VALLADOLID</a>
        </div>

    </nav>

     <!--Main Component-->
    <main class="main">

        <section class="hero">
            <div class="profile-circle">
                <img src="../../assets/image/valladolid/profile.png" alt="Vincent Logo">
            </div>
            
            <div class="hero-text">
                <h1>HI I'M <img src="../../assets/image/valladolid/logo-v.png" alt="">INCENT VALLADOLID</h1>
                <p>A 2ND YEAR BSIT STUDENT<br>IN BU</p>
            </div>
        </section>

      <section class="section-container">

            <h2 class="section-title">TECH STACK</h2>
        
            <div class="tech-stack-container">
                <div class="skill">
                    <div class="skill-info"><span>Java</span> <span>4 Years</span></div>
                    <div class="bar"><div class="fill java" style="width: 90%;"></div></div>
                </div>
                <div class="skill">
                    <div class="skill-info"><span>HTML/CSS/JS</span> <span>3 Years</span></div>
                    <div class="bar"><div class="fill web" style="width: 75%;"></div></div>
                </div>
                <div class="skill">
                    <div class="skill-info"><span>SQL</span> <span>1.5 Years</span></div>
                    <div class="bar"><div class="fill sql" style="width: 40%;"></div></div>
                </div>
                <div class="skill">
                    <div class="skill-info"><span>C</span> <span>1 Year</span></div>
                    <div class="bar"><div class="fill c-lang" style="width: 25%;"></div></div>
                </div>
            </div>

        </section>

        <section class="section-container">

            <h2 class="section-title">DAILY BLOG</h2>
            
            <div class="blog-box">
                <span class="blog-date">FEBRUARY 21, 2026</span>
                <p># Hi, I am close to reaching immortal rank! 9 stars to go. Balancing the grind between rank climbing and front-end development is the real challenge.</p>
            </div>
            <div class="blog-box">
                <span class="blog-date">FEBRUARY 22, 2026</span>
                <p># I sacrifice my sleep just to reach Mitical Immortal , it was worth it since players around 2 AM in the morning were very good at the game</p>
                <p># I attend the mass at 5 AM and pray that i would pass the first quiz tomorrow</p>
            </div>

        </section>
    
    </main>

</body>
</html>